.DS_Store
.ipynb_checkpoints/
03_Open_Video_File.mkv
02_Video_Basics.mkv
03_Open_Video_File.mkv
04_Draw_on_Live_Video.mkv
05_Draw_Interactive.mkv
06_Draw_Interactive_2.mkv
07_Face_Detection.mkv
Final.mkv
myvideo.mkv